[MASTER]
ignore = localvenv,.venv,venv,env
ignore-patterns = .*_pb2\.py,.*_pb2_grpc\.py

[MESSAGES CONTROL]
disable = 
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods,
    import-error,
    no-member

[FORMAT]
max-line-length = 127
good-names = i,j,k,ex,Run,_,x,y,id,pk,ui

[DESIGN]
max-args = 7
max-attributes = 10
max-bool-expr = 5
max-branches = 15
max-locals = 20
max-parents = 7
max-public-methods = 25
max-returns = 8
max-statements = 60
min-public-methods = 1

[SIMILARITIES]
min-similarity-lines = 8
ignore-comments = yes
ignore-docstrings = yes
ignore-imports = no

[BASIC]
argument-naming-style = snake_case
attr-naming-style = snake_case
class-naming-style = PascalCase
const-naming-style = UPPER_CASE
function-naming-style = snake_case
method-naming-style = snake_case
module-naming-style = snake_case
variable-naming-style = snake_case
